body {
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}

.site-header-wrap {
  @include d-flex(normal, center);
  height: var(--header);

  .container-fluid {
    padding: 0 var(--padding-row, 10em);
  }
}

.site-header-menu {
  display: flex;
  justify-content: flex-end;

  li {
    padding: 0 20px;

    a {
      color: $black;
    }
  }
}

.main-section {
  position: relative;
  width: 100%;
  background-color: $gray-900;
  background-size: cover;
  background-position: center top;

  .container {
    position: relative;
  }

  &.first {
    background-image: url(../images/background/main-section-first.jpg);
    background-attachment: fixed;
    
    .container {
      height: 735px;
    }
  }
  
  &.second {
    padding-top: 150px;
    text-align: center;
    background-image: url(../images/background/main-section-second.jpg);
    
    .container {
      height: 860px;
    }
  }

  &.third,
  &.fifth,
  &.sixth {
    padding: 90px 0;
    background-color: white;
  }

  &.third {
    .col {
      &:not(:last-child) {
        margin-right: 7%;
      }
    }

    .text-token {
      h3 {
        height: 72px;
      }
    }
  }

  &.fourth {
    padding: 72px 0;
    background-color: $blue;

    [class^="col-"] {
      text-align: center;
    }
  }

  &.fifth {
    .text-token {
      h3 {
        padding: 0 1.5em;
        justify-content: center;
        height: 108px;
        font-size: 1.3em;
        text-align: center;
      }
    }
  }

  &.sixth {
    border-top: 20px solid $gray-100;
  }
}

.section-title {
  margin-bottom: 90px;
  font-size: 2.5em;
  text-align: center;

  strong {
    font-weight: bold;
  }
}

.text-token,
.text-number,
.text-mobile {
  p {
    margin-top: 42px;
    line-height: 1.6;
    color: $gray-500;
  }
}

.text-token {
  h3 {
    @include d-flex(space-between, center);
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: bold;
    border-bottom: 2px solid $gray-900;
  }

  p {
    font-size: 1em;
  }
}

.text-number {
  h2 {
    font-size: 3em;
    font-weight: bold;
    color: white;
  }

  p {
    margin-top: 24px;
    font-size: 1em;
    color: $gray-300;
  }
}

.text-mobile {
  padding-top: 120px;

  h2 {
    font-size: 3em;
    line-height: 1.2;
    font-weight: bold;
  }

  p {
    font-size: 2.1em;
  }
}

.plat-wrap {
  position: relative;
  
  h2 {
    font-size: 2.7em;
    font-weight: normal;
    line-height: 1.4;
    color: white;
  }
  
  .title {
    h2, p {
      margin: 0 auto;
    }
    
    h2 {
      max-width: 480px;
      color: $orange;

      strong {
        font-weight: bold;
      }
    }
    
    p {
      margin-top: 30px;
      margin-bottom: 50px;
      max-width: 720px;
      font-size: 20px;
      line-height: 1.8;
      font-weight: 100;
      color: $gray-400;
    }
  }
  
  .inner-wrap,
  .inner,
  .text-wrap {
    @include d-flex(center, center);
  }
  
  .inner-wrap {
    flex-direction: column;
  }
  
  .shape-item {
    h3 {
      padding-top: 65px;
      font-size: 3.2em;

      strong {
        font-size: 0.6em;
        font-weight: normal;
        display: block;
      }
    }

    img + p {
      margin-top: 14px;
    }

    p {
      color: white;
    }
    
    &.center {
      margin: 0 30px;
      width: 439px;
      height: 323px;
      background: url(../images/background/main-section-shape.png) no-repeat center;
    }
  }

  .text-wrap {
    padding: 0 85px;
    margin-top: 32px;

    .item {
      &:not(:last-child) {
        margin-right: 64px;
      }
    }

    strong {
      font-size: 1.2em;
      color: $orange;

      + p {
        margin-top: 10px;
        font-size: 0.75em;
        color: black;
      }
    }
  }
}

.main-section-headline {
  padding-top: 280px;
  margin-left: auto;
  line-height: 1.4;
  color: white;

  p {
    font-size: 1em;
    color: $gray-400;
  }

  .headline {
    h2 {
      line-height: 1;
      font-size: 5em;
      font-weight: bold;

      + span {
        margin-top: 15px;
        font-size: 2.5em;
      }
    }
  }
}

.main-section-desc {
  padding: 60px 0 0 30px;
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 220px;
  height: 220px;
  color: white;
  border-radius: 110px;
  background-color: $blue;
  z-index: 98;

  h3 {
    font-size: 3.3em;

    + p {
      margin-top: 10px;
      font-size: 1.4em;
    }
  }
}

footer {
  padding: 40px 0;
  font-size: 0.8em;
  background-color: $gray-100;

  a {
    color: inherit;
  }

  h2 {
    padding: 20px 0;
  }

  dl {
    @include d-flex(normal, center);
    padding: 5px 0;

    dt {
      font-weight: bold;
    }

    dd {
      padding-right: 10px;
      padding-left: 10px;
      position: relative;
      
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        width: 1px;
        height: 10px;
        background-color: $gray-400;
        transform: translate(-50%, -50%);
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .copyright {
    margin-top: 20px;
  }
}