body {
	height: 100%;
	overflow: hidden;
}

.game-text {
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgba($color: #000000, $alpha: 0.5);

	span {
		font-size: 5rem;

		+ .btn {
			margin-top: 20px;
		}
	}
}

.score {
	margin-bottom: 2rem;
	font-size: 36px;
	text-align: center;
}

.playground {
	> ul {
		margin: 0 auto;
		width: 250px;
		border: 1px solid #333;

		> li {
			width: 100%;
			height: 25px;

			> ul {
				display: flex;

				> li {
					width: 25px;
					height: 25px;
					outline: 1px solid #ccc;
				}
			}
		}
	}
}

.square {
	background-color: steelblue;
}

.bar {
	background-color: salmon;
}

.tree {
	background-color: seagreen;
}

.zee {
	background-color: wheat;
}

.elLeft {
	background-color: violet;
}

.elRight {
	background-color: yellowgreen;
}